./bin/
./obj/
swone.layout
/build/**
*.swp
.buildconfig
.project
/bib/sfml
.vs/
.vimrc
!/build/swone@exe.vcxproj
!/build/swone.sln
winbuild.txt
res/settings.ini
res/srvsettings.ini
res/download/
.cache
